a:link {
    text-decoration: none;
}

.post-tag {
    display: inline-block;
    color: white;
    background: #0063B3;
    margin: 0.5em;
    padding: 0.5em 1em;
    width: max-content;
    border-radius: 0.5em;
}
.selected-tag {
    background: #007FE7;
}
.post-tag:hover {
    background: #007FE7;
}
.post-tag:link, .post-tag:visited, .post-tag a:hover, .post-tag a:active, .post-tag a:focus {
    color: white;
}

.page-link:focus {
  box-shadow: none;
}

/* -----------    COMMON    ----------- */
p {
  text-indent: 1.5em;
  margin-bottom: 0;
  text-align: justify;
}


/* -----------     ABOUT    ----------- */
.about img {
  height: 200px;
  float: right;
  margin-left: 1em;
}
.about .content {
  text-align: justify;
}

/* ----------- POST-PREVIEW ----------- */
.post-preview h3 a {
  text-decoration: underline;
}
/* tags styles specified in post */



/* -----------      POST    ----------- */
.post-header .post-date div {
  font-style: italic;
}

.post .post-tags .post-tag, .post-preview .post-tags .post-tag {
  font-size: small;
  margin: 0 0.2em;
  padding: 0 0.2em;
}

.post-travelling-date {
  font-weight: 600;
  font-size: large;
  text-indent: 0;
  margin-top: 1em;
}

.post-content img {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.post-content img + p{
  margin-bottom: 1em;
  text-align: center;
  color: gray;
  font-style: italic;
  font-size: smaller;
}
